<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Spring Boot BackEnd</title>
             
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous"/>
     <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js" integrity="sha384-xBXmu0dk1bEoiwd71wOonQLyH+VpgR1XcDH3rtxrLww5ajNTuMvBdL5SOiFZnNdp" crossorigin="anonymous"></script>
     <link rel="stylesheet" type="text/css" href="static/styles/view.css" th:href="@{/styles/view.css}" >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
          <link rel="stylesheet" type="text/css" href="static/styles/donus.css" th:href="@{/styles/donus.css}" >
        <script src="static/js/donust.js" th:src="@{/js/donust.js}"></script> 
          <script>
          /*  window.addEventListener('load', this.loaded.bind(this));*/
         function loaded() {
                if(localStorage.getItem("au_token")===null || localStorage.getItem("au_usr") === null){
                    //alert("hola");
                    window.location.assign("/");
                    }
	      
	    } 
        </script>
    </head>
    <body>
        <div class="container">
            <div><a onclick=" perSona();" href="#"><i class="fa-solid fa-eye"></i>Persona</a><a onclick="Experiencia();" href="#"><i class="fa-solid fa-eye"></i>Experiencia</a><a onclick="Educacion();" href="#"><i class="fa-solid fa-eye"></i>Educacion</a><a onclick="Conocimiento();" href="#"><i class="fa-solid fa-eye"></i>Conocimientos</a><a href="/"><i class="fa-solid fa-door-closed"></i></a></div>
        <div id="contenido">
          
        <!--<table> <tr> <td> <input type="text" name="company" form="my_form"></td> <button type="button" class="btn btn-success">ok</button> </td> </tr> </table> -->
        </div>
            
        </div>
        <script>
           

       function PerS(){
         /*  for(let i=0;i<medtype.length;i++){*/
               
           
            var xmlHttp = new XMLHttpRequest();
         //      xmlHttp.open(miInit,true);
           //  xmlHttp.responseType("","")
             xmlHttp.open('GET','/personas/traer');
               xmlHttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
               xmlHttp.setRequestHeader('Authorization', localStorage.getItem('au_token').toString());
               xmlHttp.send();
             xmlHttp.onreadystatechange = function() {
    if (this.readyState === 4 && this.status === 200) {
        
    let concat="";
        let comi="'";
        let c=0;
        let a=0;
        let conta=0;
     let concd="";
       let arri=[];
        for(let r of this.responseText){
            conta+=1;
            //alert(JSON.stringify(r));
             if(r === '[' || r === '\\' || r === ']' || r==='"'){
                // alert("soy r "+r);
                 
             }else{
                 
                if(r===':'){
                    c+=1;
                   
                    
                
                    concat=concat;
                   arri.push(concat);
                              console.log(concat);
                             concat="";
                  
                }else{
                    if(c===1){
                    concat=concat+r;
                    c=0;
                    }else{
                        if(r===','){
                        
                          
                           
                            concat=concat;
                             arri.push(concat);
                              console.log(concat);
                             concat="";
                                a+=1
                         }else{
                              if(a===1){
                              
                               concat=concat+r;
                               // arri.push(concat);
                             
                                a=0;
                            }else{
                               
                                if(r==='}'){
                                        
                                        
                                       
                                    concat=concat+comi+r;
                                    
                                   
                                }else{
                                       
                                        concat=concat+r;
                                   
                                   
                                }
                                }
                         }
                    }
                }
                
      //window.location.assign("/viewf");
     }
      for(let i=0;i<arri.length;i++ ){
          
      //console.log(arri[i]);
         var newDiv = document.createElement("div");
            var newContent = document.createTextNode(arri[i]);
            newDiv.appendChild(newContent); //añade texto al div creado.
            //
              var currentDiv = document.getElementById("div"+i);
                document.body.insertBefore(newDiv, currentDiv);
                            //arri.shift();
                    
                    }
     };
             /*}*/
       }
   }
       }
       function perSona(){
           
           if(document.getElementsByTagName("br")!==null && document.getElementsByTagName("input")!==null){
                 var inpT=document.getElementsByTagName("input");
                    while (inpT.length) {
                                inpT[0].parentNode.removeChild(inpT[0]);
                        }
                     var brs = document.getElementsByTagName("br");
                             while (brs.length) {
                                brs[0].parentNode.removeChild(brs[0]);
                              }
        }
                 let concat="";
        let comi="'";
        let c=0;
        let a=0;
        let conta=0;
     let concd="";
          fetch('/personas/traer', {
        method: 'GET',
          headers: (
        {
          'Content-Type': 'application/x-www-form-urlencoded',
          'Authorization': localStorage.getItem('au_token')
        }
       )
        
        /*body: JSON.stringify({ mail: 'ññññ', password: 'ññññ' })*/
            })
           .then(res => res.json())
           .then(res=> {
               
                 
               let rr=Object.values(res);
           
      
        for(let r of rr){
            console.log(Object.values(r).length)
            conta+=1;
            //alert(JSON.stringify(r));
             if(r === '[' ||  r === ']' ){
                // alert("soy r "+r);
                 
             }else{
                 
                 if(document.getElementById("id") !==null){
                         for(let i=0;i<Object.values(r).length;i++){
                       const element = document.getElementById("id"+Object.values(r)[i]);
                        element.remove(); 
                        var brs = document.getElementsByTagName("br");
                             while (brs.length) {
                                brs[0].parentNode.removeChild(brs[0]);
                              }
                             
                        }
                    }
                for(let i=0;i<Object.values(r).length;i++){
                   
                    
                      const para = document.createElement("input");
                    para.setAttribute("class","form-control");
                    para.setAttribute("type","text");
                     para.setAttribute("id","id"+Object.values(r)[i]);
                  para.value = Object.values(r)[i];
                  document.getElementById("contenido").appendChild(para);  
                  
                }
                                  
                                }
                         }
                         const para = document.createElement("br");
                         para.setAttribute("id","br");
                        document.getElementById("contenido").appendChild(para);
                    });
                   // alert(concat);
             //console.log(concat);
             
       }
       
 function Experiencia(){
     
     if(document.getElementsByTagName("br")!==null && document.getElementsByTagName("input")!==null){
         
     
     var inpT=document.getElementsByTagName("input");
      while (inpT.length) {
                                inpT[0].parentNode.removeChild(inpT[0]);
         }
      var brs = document.getElementsByTagName("br");
                             while (brs.length) {
                                brs[0].parentNode.removeChild(brs[0]);
                              }
       }
      fetch('/experiencia/traer', {
        method: 'GET',
          headers: (
        {
          'Content-Type': 'application/x-www-form-urlencoded',
          'Authorization': localStorage.getItem('au_token')
        }
       )
        
        /*body: JSON.stringify({ mail: 'ññññ', password: 'ññññ' })*/
            })
           .then(res => res.json())
           .then(res=> {
               
                 console.log(res);
               let rr=Object.values(res);
           
      let conta=0;
        for(let r of rr){
            console.log(Object.values(r).length)
            
            //alert(JSON.stringify(r));
             if(r === '[' ||  r === ']' ){
                // alert("soy r "+r);
                 
             }else{
                 
                 
                         for(let i=0;i<Object.values(r).length;i++){
                             if(document.getElementById("exp"+Object.values(r)[i]) !==null){
                       const element = document.getElementById("exp"+Object.values(r)[i]);
                        element.remove(); 
                       
                              }
                        }
                    
                for(let i=0;i<Object.values(r).length;i++){
                   conta+=1;
                   
                    
                      const para = document.createElement("input");
                    para.setAttribute("class","form-control");
                    para.setAttribute("type","text");
                     para.setAttribute("id","exp"+Object.values(r)[i]);
                  para.value = Object.values(r)[i];
                  document.getElementById("contenido").appendChild(para);
                  if(conta===8){
                       const para = document.createElement("br");
                        document.getElementById("contenido").appendChild(para);
                        conta=0;
                   }
                  
                }
                                  
                                }
                         }
                    });
     
 }
 
 function Educacion(){
     
     if(document.getElementsByTagName("br")!==null && document.getElementsByTagName("input")!==null){
         
     
     var inpT=document.getElementsByTagName("input");
      while (inpT.length) {
                                inpT[0].parentNode.removeChild(inpT[0]);
         }
      var brs = document.getElementsByTagName("br");
                             while (brs.length) {
                                brs[0].parentNode.removeChild(brs[0]);
                              }
       }
      fetch('/educacion/traer', {
        method: 'GET',
          headers: (
        {
          'Content-Type': 'application/x-www-form-urlencoded',
          'Authorization': localStorage.getItem('au_token')
        }
       )
        
        /*body: JSON.stringify({ mail: 'ññññ', password: 'ññññ' })*/
            })
           .then(res => res.json())
           .then(res=> {
               
                 console.log(res);
               let rr=Object.values(res);
           
      let conta=0;
        for(let r of rr){
            console.log(Object.values(r).length)
            
            //alert(JSON.stringify(r));
             if(r === '[' ||  r === ']' ){
                // alert("soy r "+r);
                 
             }else{
                 
                 
                       /*  for(let i=0;i<Object.values(r).length;i++){
                             if(document.getElementById("ed"+Object.values(r)[i]) !==null){
                       const element = document.getElementById("ed"+Object.values(r)[i]);
                        element.remove(); 
                       
                              }
                        }*/
                    
                for(let i=0;i<Object.values(r).length;i++){
                   conta+=1;
                   
                    
                      const para = document.createElement("input");
                    para.setAttribute("class","form-control");
                    para.setAttribute("type","text");
                     para.setAttribute("id","ed"+Object.values(r)[i]);
                  para.value = Object.values(r)[i];
                  document.getElementById("contenido").appendChild(para);
                  if(conta===10){
                      
                       const para = document.createElement("br");
                        document.getElementById("contenido").appendChild(para);
                        conta=0;
                   }
                  
                }
                                  
                                }
                         }
                    });
     
     
     
 }
 function borrar(){
     
      if(document.getElementsByTagName("br")!==null && document.getElementsByTagName("input")!==null){
         
     
     var inpT=document.getElementsByTagName("input");
      while (inpT.length) {
                                inpT[0].parentNode.removeChild(inpT[0]);
         }
      var brs = document.getElementsByTagName("br");
                             while (brs.length) {
                                brs[0].parentNode.removeChild(brs[0]);
                              }
                        var rdiv=document.getElementsByTagName("div");
                    //let conta=0;
                    while (rdiv.length) {
                                if( rdiv[3] !== undefined){
                                        rdiv[3].parentNode.removeChild(rdiv[3]);
                                    }else{
                                        return;
                                    }
                              }
                   // for (let i=0;i<rdiv.length;i++) {
                        //if(conta>2){
                       // if( rdiv[3] !== undefined){
                           
                      //      if(i>2){
                      //      rdiv[3].parentNode.removeChild(rdiv[3]);
                           //} 
                      //      conta+=1;
                       // }
                        //}
                        //}
                     
                        if(document.getElementById("donus1") !==null){
                        document.getElementById("donus1").remove();
                        }
                        if(document.getElementById("donus7") !==null){
                        document.getElementById("donus7").remove();
                        }
                        
      
                    var rli = document.getElementsByTagName("li");
                             while (rli.length) {
                                rli[0].parentNode.removeChild(rli[0]);
                              }
                              var rul = document.getElementsByTagName("ul");
                             while (rul.length) {
                                rul[0].parentNode.removeChild(rul[0]);
                              }
                              var rp = document.getElementsByTagName("p");
                             while (rp.length) {
                                rp[0].parentNode.removeChild(rp[0]);
                              }
                              var rh = document.getElementsByTagName("h2");
                             while (rh.length) {
                                rh[0].parentNode.removeChild(rh[0]);
                              }
                              var rsp = document.getElementsByTagName("span");
                             while (rsp.length) {
                                rsp[0].parentNode.removeChild(rsp[0]);
                              }
       }
 }
 function Conocimiento(){
     
  borrar();
      fetch('/conoc/traer', {
        method: 'GET',
          headers: (
        {
          'Content-Type': 'application/x-www-form-urlencoded',
          'Authorization': localStorage.getItem('au_token')
        }
       )
        
        /*body: JSON.stringify({ mail: 'ññññ', password: 'ññññ' })*/
            })
           .then(res => res.json())
           .then(res=> {
               
                 console.log(res);
               let rr=Object.values(res);
           
      let conta=0;
      let cuenta=0;
      let cont=0;
        for(let r of rr){
            console.log(Object.values(r).length)
            
            //alert(JSON.stringify(r));
             if(r === '[' ||  r === ']' ){
                // alert("soy r "+r);
                 
             }else{
                 
                 
                       /*  for(let i=0;i<Object.values(r).length;i++){
                             if(document.getElementById("ed"+Object.values(r)[i]) !==null){
                       const element = document.getElementById("ed"+Object.values(r)[i]);
                        element.remove(); 
                       
                              }
                        }*/
                    
                for(let i=0;i<Object.values(r).length;i++){
                   conta+=1;
                   
                    
                      const para = document.createElement("input");
                    para.setAttribute("class","form-control");
                    para.setAttribute("type","text");
                     para.setAttribute("id","cn"+ Object.values(r)[i]);
                  para.value = Object.values(r)[i];
                  document.getElementById("contenido").appendChild(para);
              
     
       
        
       
                   // <input id="ext" data-id='ex1RangePicker' oninput="ValorRanT()"  type="range" data-min="0" data-max="20" data-step="1" data-value="0" />
            //<div id="demo"></div>
                  
                  if(conta===5){
                        cuenta+=1;
                       const parat=document.createElement("input");
                       parat.setAttribute("id","ext"+r.de);
                       parat.setAttribute("oninput","ValorRanT("+r.saber+","+"'"+r.sobre+"'"+","+"'"+r.de+"'"+","+cuenta+")");
                       parat.setAttribute("data-id","ex1RangePicker");
                       parat.setAttribute("type","range");
                       parat.value=r.saber;
                        document.getElementById("contenido").appendChild(parat);
                        const parats=document.createElement("div");
                       parats.setAttribute("id","demo"+r.de);
                       parats.innerHTML=r.saber;
                        document.getElementById("contenido").appendChild(parats);
                         const paras = document.createElement("br");
                        paras.setAttribute("id","br4"+cuenta);
                        document.getElementById("contenido").appendChild(paras);
                         const parass = document.createElement("div");
                        parass.setAttribute("id","div"+cuenta);
                        document.getElementById("contenido").appendChild(parass);
                        Grafico(r.saber,r.sobre,r.de,cuenta);
                        
                         const parasst = document.createElement("input");
                        parasst.setAttribute("id","inpt"+cuenta);
                        parasst.setAttribute("type","button");
                        parasst.setAttribute("class","btn btn-primary");
                        parasst.setAttribute("onclick","Edit("+r.id+","+"'"+r.sobre+"'"+","+"'"+r.de+"'"+","+r.saber+","+r.persona_id+")");
                        parasst.value="Aplicar";
                        document.getElementById("div"+cuenta).appendChild(parasst);
                        
                        const para = document.createElement("br");
                        para.setAttribute("id","br4"+cuenta+1);
                        document.getElementById("contenido").appendChild(para);
                        
                        conta=0;
                   }
                  
                }
                                  
                                }
                         }
                    });
     
    
     
 }
 function Edit(edi,sobre,de,saber,personaid){
     let personaids = document.getElementById("cn"+personaid).value;
     let sobres= document.getElementById("cn"+sobre).value;
     let des=document.getElementById("cn"+de).value;
     let sabers=document.getElementById("cn"+saber).value;
 fetch('/conoc/editar/'+edi+'?personaid='+personaids+'&sobre='+sobres+'&de='+de+'&saber='+sabers, {
        method: 'PUT',
          headers: (
        {
          'Content-Type': 'application/json',
          'Authorization': localStorage.getItem('au_token')
        }
       ),
        body:{title: 'Angular PUT Request Example'}
        /*body: JSON.stringify({ mail: 'ññññ', password: 'ññññ' })*/
            })
           .then(res => res.json())
           .then(res=> {
               alert("Se Modifico correctamente");
               Conocimiento();
             });
 }
 function borrarAd(cuenta){
      if ( document.getElementById("donus"+cuenta) !==null){
         var rmdiv= document.getElementById("donus"+cuenta);
         rmdiv.remove();
        }
      
        var p1=document.getElementById("p"+cuenta);
        if(p1 !==null){
        p1.remove();
        }
         var p2=document.getElementById("p2"+cuenta);
         if(p2 !==null){
        p2.remove();
        }
   
         var p3=document.getElementById("p3"+cuenta);
         if(p3 !==null){
        p3.remove();
        }
       
         var p4=document.getElementById("p4"+cuenta);
         if(p4 !==null){
        p4.remove();
        }
       if(document.getElementById("span"+cuenta) !== null){
        document.getElementById("span"+cuenta).remove;
         }
                  if(document.getElementById("donut-chart"+cuenta)!==null){
                       document.getElementById("donut-chart"+cuenta).remove;
                  }
            if(  document.getElementById("titular"+cuenta) !==null){
             document.getElementById("titular"+cuenta).remove;
                 }
         if(document.getElementById("br"+cuenta) !== null){
          document.getElementById("br"+cuenta).remove;
      }
             if(document.getElementById("porcion11"+cuenta) !==null){
         document.getElementById("porcion11"+cuenta).remove;
     }
         if(document.getElementById("porcion22"+cuenta) !==null){
          document.getElementById("porcion22"+cuenta).remove;
          }
             if(document.getElementById("ques"+cuenta) !==null){
          document.getElementById("ques"+cuenta).remove;
      }
             if(document.getElementById("ques2"+cuenta) !==null){
           document.getElementById("ques2"+cuenta).remove;
       }
           
        if(document.getElementById("ios"+cuenta) !==null){
        document.getElementById("ios"+cuenta).remove;
        }
        if(document.getElementById("mac"+cuenta) !==null){
        document.getElementById("mac"+cuenta).remove;
        }
             if(document.getElementById("porcion1"+cuenta) !==null){
        document.getElementById("porcion1"+cuenta).remove;
        }
                if(document.getElementById("porcion2"+cuenta) !==null){
        document.getElementById("porcion2"+cuenta).remove;
        }
            
                     if(document.getElementById("center-date"+cuenta) !==null){
        document.getElementById("center-date"+cuenta).remove;
        }
              
                      if( document.getElementById("ul"+cuenta) !==null){
        document.getElementById("ul"+cuenta).remove;
        }
                        
          
                         if( document.getElementById("li"+cuenta) !==null){
        document.getElementById("li"+cuenta).remove;
        }
       
                           if( document.getElementById("li2"+cuenta) !==null){
        document.getElementById("li2"+cuenta).remove;
        }
                     
                 
 }
  function ValorRanT(saber,sobre,de,cuenta){
  var slider = document.getElementById("ext"+de);
  var output = document.getElementById("demo"+de);
   
  if(output !== null){
  output.innerHTML = slider.value; 
  document.getElementById("cn"+saber).value= slider.value;
   saber = parseInt(slider.value);
   
  
    borrarAd(cuenta);
   let menu = document.getElementById("br4"+cuenta);
  Grafico(saber,sobre,de,cuenta);
   
 

  }

function insertAfter(newNode, existingNode) {
    if(existingNode !==null){
            existingNode.parentNode.insertBefore(newNode, existingNode.nextSibling);
       }
    }
 
 
}
        </script> 
    <script src="static/js/aes.js" th:src="@{/js/aes.js}"></script> 
    </body>
</html>
