
body{
    background: url(../img/angSpri2.jpg) no-repeat center center fixed;
    background-size: cover;
}

.eyes{
    content:"\f2a8";
}
.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}

label{
	font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:0px;
}
a{
   font-size: 20px;
   /* width: 156px;
    height: 156px;*/
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 0px rgba(255,255,255,0.4);
     margin: 0 8px; 
    /* margin-left: 280px; */
    color: #3b4652;
    opacity: 0.75; 
}
 a:hover {
     color:greenyellow;
    opacity: 0.9;
  }
